#box-sobre-mim amp-img{
	margin:auto;
	margin-bottom:15px;
	border-radius:50%;
	max-width:80px;
}

#box-sobre-mim .fb-like amp-facebook-like{
	margin-bottom:-5px;
	margin-right:-7px;
}

@media screen and (min-width: 850px){
	.tb-post-box .tb-post-img amp-img{
		max-width: initial;
		width: 130%;
		transform: translateX(-10%);
	}
}

.market-banner{max-width:768px;margin:25px auto}

#wid_assinar_news a {
	padding: 12px 24px;
	margin:10px 0;
	font-size: 1rem;
	background-color: #f47929;
	color: #ffffff;
	border: none;
	box-shadow: 1px 1px #000;
	display:block;
	width:100%;
	text-align:center
}

#wid_autor .fb-like amp-facebook-like{
	margin-top:5px;
	display:block
}

#wid_veja_mais ul li a amp-img{
	border-radius:3px;
	margin:0 10px 20px 0;
	object-fit:cover;
}

#wid_veja_mais ul li a img{
	object-fit:cover;
}

#wid_autor amp-img{
	float:left;
	border-radius:3px;
	margin:0 10px 20px 0;
}

#wid_autor amp-img img{
	object-fit:cover
}

#tb-hero-details1 p a:nth-child(1) amp-img{
	border-radius:50%;
	width:20px;
	position:relative;
	margin-top:-10px;
	margin-bottom:-5px
}

.wid_comprar > amp-img{
	padding:5px;
	width:250px;
	margin:5px;
	margin-left:5px;
	
}

#disqus_amp{
	min-height:200px;
}

.global-nav__header-buttons .fb-like amp-facebook-like{
	bottom: -9px
}

.global-nav__header-buttons{
	margin-top:-8px
}

.post-body__content figure{margin:26px auto}
.img-max500{max-width:500px}
.img-max300{max-width:300px}